<content data-click="query-command-state">
	<!-- shown if no file is opened -->
	<div class="blank-view" data-area="blankView">
		<!-- blank view HTML goes here -->
	</div>
	
	<!-- this is a template element for editor - to be cloned -->
	<div class="file">
		<div data-id="editor" contenteditable="true" data-click="query-command-state"
			 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div>
	</div>
</content>

<div class="rulerw">
	<div class="ruler">
		<ul>
			<li/><li/><li/><li/><li/>
			<li/><li/><li/><li/><!-- <li/>
			<li/><li/><li/><li/><li/>
			<li/><li/><li/><li/><li/> -->
		</ul>
		<i class="ruler-indent"></i>
		<i class="margin-start"></i>
		<i class="margin-end"></i>
	</div>
</div>
