
// for dark theme
@import "theme-dark";


background: #f2f2f2;
--pW: 600px;
--pH: 848px;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.show-blank-view {
		.blank-view {
			display: block;
		}

		> div[contenteditable="true"] {
			display: none;
		}
	}

	&.web-view {
		> div[contenteditable="true"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			padding: 1px 5px;
		}

		& + .rulerw {
			i {
				&.ruler-indent,
				&.margin-start {
					display: block;
					left: 6px;
				}
			}
		}
	}

	&.page-view {
		overflow: auto;

		> div[contenteditable="true"] {
			position: relative;
			top: auto;
			left: auto;
			width: var( --pW );
			height: var( --pH );
			display: block;
			margin: 10px auto;
			padding: 61px 57px;
			overflow: initial;
			outline: 1px solid #c5c5c5;
			box-shadow: 0 1px 7px rgba(0,0,0,.175);
		}

		& + .rulerw {
			.ruler {
				width: var( --pW );
			}

			i {
				&.ruler-indent,
				&.margin-start {
					display: block;
					left: 57px;
				}

				&.margin-end {
					display: block;
					left: 543px;
				}
			}

			ul {
				&:before {
					left: 57px;
					width: 486px;
				}

				li {
					&:nth-child(11) {
						opacity: 0;
					}
				}
			}
		}
	}

	&.show-ruler {
		top: 19px;

		& + .rulerw {
			display: block;
		}
	}
	
	> div[contenteditable="true"] {
		background: #fff;
		// font-family: Times New Roman;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 1.35;
		display: inline-block;

		&.hidden {
			display: none;
		}

		::selection {
		  //background: #ffb7b7;
		}

		// text file
		&[data-kind="txt"] {
			white-space: pre-wrap;
		}

		// markdown file
		&[data-kind="md"] {
			h1 { font-size: 40px; }
			h2 { font-size: 26px; }
			h3 { font-size: 22px; }
			h4 { font-size: 18px; }
			h5 { font-size: 14px; }
			h6 { font-size: 12px; }
			p { margin: 0.75em 0 1.25em; }
			em { font-style: italic; }
			b, strong { font-weight: 600; }
			code { font-family: monospace; }
			ul { list-style-type: disc; }
			ol { list-style-type: decimal; }

			ol, ul {
				display: block;
				margin: 17px 0;
				padding-inline-start: 2.5em;

				li {
					display: list-item;
				}
			}

			blockquote {
				padding-left: 1em;
				border-left: 3px solid rgba(0,0,0,0.2);
			}
		}
	}

	.blank-view {
		display: none;
		background: #ddd;
		color: #777;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		h2 {
			height: 47px;
			text-align: center;
			font-size: 29px;
			font-weight: 100;
			padding-top: 19px;
			margin-bottom: 13px;
			color: #555;
		}

		> div {
			font-size: 0;
			padding: 17px 0;

			> h3 {
				font-size: 15px;
				font-weight: 400;
				margin-bottom: 5px;
				color: #555;
			}
		}

		.block-buttons {
			padding: 17px 47px;
			height: 47px;
			text-align: center;

			.btn {
				display: inline-block;
				background: rgba(255,255,255,.25);
				font-size: 13px;
				margin-right: 11px;
				padding: 7px 13px;
				border-radius: 17px;
				box-shadow: inset 0 0 0 2px rgba(0,0,0,.1);
				cursor: pointer;

				&:hover:not(.disabled_) {
					box-shadow: 0 0 0 3px #489bf770,
								inset 0 0 0 2px #489bf7;
				}

				&.disabled_ {
					background: transparent;
					opacity: .5;
					cursor: default;
				}

				i {
					position: relative;
					top: -2px;
					opacity: .175;
					margin-right: 2px;
				}
			}
		}

		.block-recent,
		.block-samples {
			margin: 10px auto;
			width: 475px;
			height: 193px;
			color: #999;

			.recent-file,
			.sample {
				display: inline-block;
				background-color: #ccc;
				// background-image: url(/app/icons/generic-document.png);
				// background-position: 50% 50%;
				// background-size: contain;
				// background-repeat: no-repeat;
				position: relative;
				width: 103px;
				height: 123px;
				margin: 0 21px 13px 0;
				text-align: center;
				border-radius: 5px;
				cursor: pointer;

				&[data-kind="txt"]:after { background-image: url(/app/icons/file-txt.png); }
				&[data-kind="md"]:after { background-image: url(/app/icons/file-md.png); }

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					background-color: #489bf770;

					&:before {
						box-shadow: 0 0 0 1px #489bf7;
					}

					span {
						color: #666;
					}
				}

				&:before {
					content: "";
					background: #fff;
					position: absolute;
					top: 3px;
					left: 3px;
					right: 3px;
					bottom: 3px;
					border-radius: 3px;
					pointer-events: none;
				}

				&:after {
					content: "";
					background: 50% 50% no-repeat;
					position: absolute;
					top: 3px;
					left: 3px;
					right: 3px;
					bottom: 3px;
					opacity: .3;
				}

				span {
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					padding-top: 5px;
					font-size: 13px;
					pointer-events: none;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

.rulerw {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 19px;
	background: rgba(0,0,0,.025);
	border-bottom: 1px solid #ccc;

	.ruler {
		position: relative;
		top: 5px;
		height: 9px;
		margin: 0 auto;
		background-image: linear-gradient(90deg,
			#aaa 0px, #aaa 1px,
			transparent 1px, transparent 599px,
			#aaa 599px, #aaa 600px
		);

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 2;
			// background-image: repeating-linear-gradient(90deg,
			// 	#ccc 0px, #ccc 1px,
			// 	transparent 1px, transparent 57px
			// );
			background-image: repeating-linear-gradient(90deg,
				transparent 0px, transparent 56px,
				#ccc 56px, #ccc 57px
			);
		}

		&:before {
			top: 1px;
			height: 6px;
			background-image: repeating-linear-gradient(90deg,
					transparent 0px, transparent 14px,
					#ddd 14px, #ddd 15px,
					transparent 15px, transparent 41px,
					#ddd 41px, #ddd 42px,
					transparent 42px, transparent 57px
				);
		}
	}

	i {
		position: absolute;
		width: 9px;
		height: 4px;
		z-index: 3;
		background: #eee;
		border: 1px solid #bbb;
		border-top: 0;
		margin-left: -5px;
		cursor: ew-resize;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: -1px;
			width: 0;
			height: 0;
		}

		&:after {
			left: 0;
		}

		&.ruler-indent {
			display: none;
			top: -5px;

			&:before {
				bottom: -5px;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #aaa;
				transform: translateX(-0.5px);
			}

			&:after {
				bottom: -4px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #eee;
				transform: translateX(-0.5px);
			}
		}

		&.margin-start {
			display: none;
			bottom: -5px;

			&:before {
				top: -5px;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #aaa;
				transform: translateX(-0.5px);
			}

			&:after {
				top: -4px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #eee;
				transform: translateX(-0.5px);
			}
		}

		&.margin-end {
			display: none;
			bottom: -5px;

			&:before {
				top: -5px;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid #aaa;
				transform: translateX(-0.5px);
			}

			&:after {
				top: -4px;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #eee;
				transform: translateX(-0.5px);
			}
		}
	}

	ul {
		// display: none;
		position: relative;
		top: -5px;
		width: 100%;
		height: 18px;
		margin: 0 auto;
		font-size: 0;
		white-space: nowrap;
		overflow: hidden;
		color: #aaa;
		counter-reset: item;
		counter-increment: item -1;

		&:before {
			content: "";
			background: #fff;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;
		}

		li {
			position: relative;
			counter-increment: item +2;
			display: inline-block;
			font-size: 10px;
			text-align: center;
			padding: 5px 0 0;
			width: 57px;
			z-index: 2;

			&:before {
				content: counter(item) "";
			}
		}
	}
}
