
&[data-theme="dark"] {

	&.win-body-focused_ {
		
	}

	content {
		> .file {
			div[contenteditable="true"] {
				background: var( --content-bg );
				color: var( --content-fg );
			}
		}
	}

	.rulerw {
		border-bottom-color: rgba(0,0,0,.2);

		.ruler {

			ul {
				&:before {
					background: rgba(255,255,255,.05);
				}
			}
		}
	}
	
}
