

[data-ui="karaqu-dark"] {
	--slider-bg: #333;
	--slider-fg: #999;

	.win-body_ content {
		&.show-ruler:after { opacity: .2; }

		.CodeMirror {
			filter: hue-rotate(205deg) saturate(1.25);
		}

		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					code .CodeMirror {
						background: #565656;
					}

					.block-tools {
						background: #838383;
					}
				}
			}
		}
	}
}

[data-ui="royale-amber"] {
	--slider-bg: #4d3829;
	--slider-fg: #7c5d38;

	.win-body_ content {
		&.show-ruler + .rulerw {
			border-bottom-color: #4e402e;
		}

		.CodeMirror {
			filter: hue-rotate(205deg) saturate(1.25);
		}

		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					hr {
						filter: sepia(1) hue-rotate(305deg) saturate(5) opacity(0.35);
					}

					.block-tools {
						background: #6f604d;
					}
				}
			}
		}
	}
}

[data-ui="royale-black"] {
	--slider-bg: #2f2d63;
	--slider-fg: #817eb9;
	
	.win-body_ content {
		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					.block-tools {
						background: #5f5b9e;
					}
				}
			}
		}
	}
}

[data-ui="royale-emerald"] {
	--slider-bg: #2d6331;
	--slider-fg: #5d8258;
	
	.win-body_ content {
		.CodeMirror {
			filter: saturate(1.35) hue-rotate(245deg);
		}

		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					hr {
						filter: sepia(1) hue-rotate(65deg) saturate(5) opacity(0.25);
					}

					.block-tools {
						background: #476a4f;
					}
				}
			}
		}
	}
}

[data-ui="royale-purple"] {
	--slider-bg: #45294d;
	--slider-fg: #8a55ad;
	
	.win-body_ content {
		.CodeMirror {
			filter: hue-rotate(85deg);
		}

		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					.block-tools {
						background: #7e6586;
					}
				}
			}
		}
	}
}

[data-ui="royale-pink"] {
	--slider-bg: #be72b8;
	--slider-fg: #f791ff;
	--grid-shade: rgba(#fef,.25);
	
	.win-body_.win-body-focused_ {
		content.page-view > .file .page {
			background: rgba(#fff,.35);
		}

		.blank-view {
			background: linear-gradient(180deg, rgba(#a5a,.1), transparent 37px, transparent);
			color: #fef;

			h2 {
				color: #fff;
				text-shadow: 0 0 3px rgba(#fff,.35);
			}

			> div {
				> h3 { color: #fdf; }
			}

			.block-buttons {
				.btn {
					background-color: rgba(#727,.1);
					box-shadow: 0 0 0 2px rgba(#fff,.35);
				}
			}

			.block-recent,
			.block-samples {
				color: #fdf;

				.recent-file:before,
				.sample:before {
					background-color: rgba(#727,.1);
					box-shadow: none;
				}

				.recent-file:after,
				.sample:after {
					filter: hue-rotate(135deg) invert(1) drop-shadow(0 0 3px #fff);
				}
			}
		}
	}
	
	.win-body_ content {
		&.show-ruler {
			& + .rulerw {
				background: rgba(#fff,.15);
				--grid-l1: rgba(#929,.15);
				--grid-l2: rgba(#929,.3);

				.ruler ul:before {
					background: rgba(#fff,.25);
				}
			}
		}

		&.page-view > .file .page {
			background: rgba(#fff,.25);
			outline: 1px solid rgba(#fff,.3);
		}

		.CodeMirror {
			filter: invert(1) hue-rotate(275deg);
		}

		&.y-book,
		&.page-view {
			> .file {
				&[data-kind="y"],
				&[data-kind="md"] {
					hr {
						filter: sepia(1) hue-rotate(245deg) saturate(3);
					}

					.block-tools {
						background: #ffd3fb;

						> div { filter: invert(1); }
					}
				}
			}
		}
	}
}

[data-ui="middleage"] {
	.win-body_ content {
		&:before {
			background: #999;
		}

		&.web-view {
			> .file > .page {
				top: 1px;
				left: 1px;
				right: 1px;
				bottom: 1px;
			}
		}

		.blank-view {
			background: transparent;
			color: #fff;
			border: 1px solid;
			border-color: #444 #d4d0c8 #d4d0c8 #444;

			.block-buttons {
				.btn {
					position: relative;
					background: #d4d0c8;
					color: #444;
					padding: 5px 9px 3px;
					border-radius: 0;
					border: 1px solid;
					border-color: #fff #444 #444 #fff;
					box-shadow: none;

					&.disabled_ {
						opacity: 1;
						color: #888;
						text-shadow: 0 1px 0 #fff7;

						i {
							filter: drop-shadow(0 1px 0 #fff);
						}
					}

					&:hover:not(.disabled_) {
						box-shadow: none;
					}

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border: 1px solid;
						border-color: #d4d0c8 #888 #888 #d4d0c8;
						pointer-events: none;
					}

					i {
						top: -2px;
						left: -2px;
					}
				}
			}

			.block-recent,
			.block-samples {
				.recent-file,
				.sample {
					border-radius: 0;
					color: #666;

					&:before {
						border-radius: 0;
					}

					&:hover {
						background-color: #d4d0c8;

						&:before {
							box-shadow: none;
						}

						span {
							background: #0414a5;
							color: #fff;
						}
					}

					span {
						padding-top: 3px;
						padding-bottom: 3px;
						margin: 2px 3px 0;
					}
				}
			}
		}

		&.show-ruler {
			top: 21px;

			& + .rulerw {
				background: #dad7d1;
				overflow: visible;
				border: 1px solid;
				border-color: #888 #fff #fff #888;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 1px solid;
					border-color: #444 #d4d0c8 #d4d0c8 #444;
				}

				.ruler {
					background-image: linear-gradient(90deg,
						#a6a6a6 0px, #a6a6a6 1px,
						transparent 1px, transparent 602px,
						#a6a6a6 602px, #a6a6a6 603px
					);

					&:before {
						background-image: repeating-linear-gradient(90deg,
								transparent 0px, transparent 8px,
								#c9c9c9 8px, #c9c9c9 9px,
								transparent 9px, transparent 17px,
								#c9c9c9 17px, #c9c9c9 18px,
								transparent 18px, transparent 26px,
								#c9c9c9 26px, #c9c9c9 27px,
								transparent 27px, transparent 36px
							);
					}

					ul {
						color: #999;

						&:before {
							background: #fff;
							top: 1px;
							bottom: 1px;
						}
					}

					i {
						background: #d4d0c8;
						border: 1px solid #666;

						&.indent-firstline {
							top: -6px;

							&:before { border-top-color: #666; }
							&:after { border-top-color: #d4d0c8; }
						}

						&.indent-left {
							&:before { border-bottom-color: #666; }
							&:after { border-bottom-color: #d4d0c8; }
						}

						&.indent-right {
							&:before { border-bottom-color: #666; }
							&:after { border-bottom-color: #d4d0c8; }
						}
					}
				}
			}
		}
	}
}
